PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# Database Configuration (MongoDB)
MONGODB_URI=mongodb://localhost:27017/saarthi_task_db

# Redis Configuration (BullMQ & Session Cache)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT Authentication Secrets
JWT_ACCESS_SECRET=saarthi_2026
JWT_REFRESH_SECRET=saarthi_2026
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

# Cloudinary CDN Configuration (Optional Cloud Storage Bonus)
CLOUDINARY_CLOUD_NAME=dzrzk86mu
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
